.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #F5F5DC;
}

.logo img{
  width: 75px;
  height: 75px;
}

nav {
  display: flex;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
}
